In [ ]:
import pandas as pd
import sqlite3

In [ ]:
Conn = sqlite3.connect(r"E:\Python Projects\SQLite3\Database file\Ayodhya_DB.db")
Curr = Conn.cursor()

In [ ]:
# create Deity table 
Deity_table = """
    CREATE TABLE IF NOT EXISTS Deity (
    DeityID INT PRIMARY KEY,
    Name VARCHAR(255) NOT NULL,
    Description TEXT
);

"""
Curr.execute(Deity_table)

In [ ]:
Temple_table = """

CREATE TABLE IF NOT EXISTS Temple (
                    TempleID INT PRIMARY KEY,
                    Name VARCHAR(255) NOT NULL,
                    Location VARCHAR(255),
                    ConstructionStartDate DATE,
                    ExpectedCompletionDate DATE
                );
"""
Curr.execute(Temple_table)

In [ ]:
construction_phase = """
    CREATE TABLE IF NOT EXISTS ConstructionPhase (
        PhaseID INT PRIMARY KEY,
        TempleID INT,
        PhaseName VARCHAR(255) NOT NULL,
        StartDate DATE,
        CompletionDate DATE,
        CONSTRAINT fk_temple FOREIGN KEY (TempleID) REFERENCES Temple(TempleID)
    );
"""
Curr.execute(construction_phase)

In [ ]:
Architecture_table = """
    CREATE TABLE IF NOT EXISTS Architecture (
        ArchitectureID INT PRIMARY KEY,
        TempleID INT,
        ArchitectName VARCHAR(255) NOT NULL,
        Description TEXT,
        CONSTRAINT fk_temple_architecture FOREIGN KEY (TempleID) REFERENCES Temple(TempleID)
    );
"""

Curr.execute(Architecture_table)

In [ ]:
Donations_table = """
    -- Table for Donations
    CREATE TABLE IF NOT EXISTS Donations (
        DonationID INT PRIMARY KEY,
        DonorName VARCHAR(255) NOT NULL,
        Amount DECIMAL(10, 2) NOT NULL,
        DonationDate DATE,
        TempleID INT,
        CONSTRAINT fk_temple_donations FOREIGN KEY (TempleID) REFERENCES Temple(TempleID)
    );
"""
Curr.execute(Donations_table)

In [ ]:
EVENTS_TABLE = """
    -- Table for Events
    CREATE TABLE IF NOT EXISTS Events (
        EventID INT PRIMARY KEY,
        EventName VARCHAR(255) NOT NULL,
        EventDate DATE,
        Description TEXT
    );

"""
Curr.execute(EVENTS_TABLE)

In [ ]:
TEMPLE_EVENTS_TABLE = """
    -- Table for TempleEvents
    CREATE TABLE IF NOT EXISTS TempleEvents (
        TempleID INT,
        EventID INT,
        CONSTRAINT fk_temple_events_temple FOREIGN KEY (TempleID) REFERENCES Temple(TempleID),
        CONSTRAINT fk_temple_events_event FOREIGN KEY (EventID) REFERENCES Events(EventID),
        PRIMARY KEY (TempleID, EventID)
    );

"""
Curr.execute(TEMPLE_EVENTS_TABLE)

In [ ]:
# insert into database

insert_deity_table = """
-- Inserting values into Deity table
INSERT INTO Deity (DeityID, Name, Description)
VALUES
    (1, 'Rama', 'An incarnation of Vishnu, a principal deity of Hinduism born in Ayodhya.'),
    (2, 'Ram Lalla Virajman', 'The infant form of Rama, the presiding deity of the Ram Mandir temple.');
    
"""
Curr.execute(insert_deity_table)

In [ ]:
insrt_temple_table = """
-- Inserting sample data into the Temple table
INSERT INTO Temple (TempleID, Name, Location, ConstructionStartDate, ExpectedCompletionDate)
VALUES
    (1, 'Ram Mandir', 'Ayodhya, Uttar Pradesh, India', '2020-03-01', '2024-01-22');
"""
Curr.execute(insrt_temple_table)

In [ ]:
insert_into_phase = """
-- Example values for ConstructionPhase table
INSERT INTO ConstructionPhase (PhaseID, TempleID, PhaseName, StartDate, CompletionDate)
VALUES
    (1, 1, 'Phase 1', '2020-03-01', '2020-05-15'),
    (2, 1, 'Phase 2', '2020-06-01', '2020-08-30'),
    (3, 1, 'Phase 3', '2021-01-10', '2021-03-25'),
    (4, 1, 'Phase 4', '2021-06-15', '2022-02-28');

"""
Curr.execute(insert_into_phase)

In [ ]:
insert_Architecture_table="""
    -- Inserting values into the Architecture table
    INSERT INTO Architecture (ArchitectureID, TempleID, ArchitectName, Description)
    VALUES
        (1, 1, 'Chandrakant Sompura', 'Chief architect of the temple'),
        (2, 1, 'Nikhil Sompura', 'Assistant architect'),
        (3, 1, 'Ashish Sompura', 'Assistant architect');
"""
Curr.execute(insert_Architecture_table)

In [ ]:
insert_donation_table = """
    -- Inserting sample data for Donations
    INSERT INTO Donations (DonationID, DonorName, Amount, DonationDate, TempleID)
    VALUES
    (1, 'Ram Nath Kovind', 501000.00, '2021-01-15', 1), -- Assuming TempleID 1 corresponds to the Ram Mandir
    
    (2, 'Anonymous Donor', 100.00, '2021-02-01', 1),
    (3, 'Leadership Council', 1000000.00, '2021-03-10', 1),
    
    (4, 'H.D. Kumaraswamy', 5000.00, '2021-05-01', 1),
    (5, 'Siddaramaiah', 20000.00, '2021-05-15', 1),
    
    (6, 'VHP Activist 1', 50.00, '2021-06-01', 1),
    (7, 'VHP Activist 2', 75.00, '2021-06-15', 1),
    
    (8, 'Muslim Community Member', 1000.00, '2021-07-01', 1),
    (9, 'Christian Community Member', 500.00, '2021-07-15', 1),
    
    (10, 'Anonymous Supporter', 200.00, '2021-08-01', 1);
"""

Curr.execute(insert_donation_table)

In [ ]:
insert_event_table = """
    
    -- Inserting sample values into Events table
    INSERT INTO Events (EventID, EventName, EventDate, Description)
    VALUES
        (1, 'Commencement Ceremony', '2020-08-05', 'Ceremony celebrating the commencement of Ram Mandir construction by PM Narendra Modi'),
        (2, 'Bhoomi Pujan Ceremony', '2020-08-05', 'Ground-breaking ceremony with Vedic rituals and foundation stone laying by PM Narendra Modi'),
        (3, 'Vijay Mahamantra Jaap Anushthan', '2020-04-06', 'Chanting of Vijay Mahamantra for victory over hurdles in temple construction'),
        (4, 'Pran Pratishtha Ceremony', '2024-01-22', 'Consecration ceremony scheduled for the installation of Lord Ram idol in the garbhagriha');
    
"""
Curr.execute(insert_event_table)

In [ ]:
insert_temple_events = """
                      -- Insert values into TempleEvents table

    INSERT INTO TempleEvents (TempleID, EventID) VALUES
    (1, 1), -- Assuming TempleID 1 and EventID 1 are associated
    (1, 2), -- Assuming TempleID 1 and EventID 2 are associated
    (1, 3), -- Assuming TempleID 1 and EventID 3 are associated
    (1, 4); -- Assuming TempleID 1 and EventID 4 are associated
"""
Curr.execute(insert_temple_events)

In [ ]:
Conn.commit()
Conn.close()